//  breakpoint for the transition between mobile and desktop versions of the navbar
$layout-breaking-point: md;

@function breakpoint-width($name) {
  @return map-get(
    (
      xs: 320px,
      sm: 480px,
      md: 720px,
      lg: 960px,
      xl: 1200px,
      xxl: 1400px
    ),
    $name
  );
}

@mixin breakpoint-min($name) {
  $width: calc(breakpoint-width($name) + 1px);
  @media (min-width: $width) {
    @content;
  }
}

@mixin breakpoint-max($name) {
  $width: breakpoint-width($name);
  @media (max-width: $width) {
    @content;
  }
}