$primary: #FF9701;
$secondary: #006C90;
$darker-secondary: #005673;

$white: #FFF;
$darker-white: #E5F0F3;
$gray: #E5E7E8;
$darker-gray: #CECFD0;
$lighter-gray: #ECEEEE;

$red: 	#902400;
$blue: 	#0092C3;
$green: 	#6C9000;

$background: #F4F9FA;
$high-emphasys-text: #161818;
$low-emphasys-text: #444848;