$serif: "Neuton", "serif";
$sans: "Montserrat", "sans-serif";

//  Montserrat

@font-face {
  font-family: "Montserrat";
  src:
    url("./fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./fonts/Montserrat-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

//  Neuton

@font-face {
  font-family: "Neuton";
  src: url("./fonts/Neuton-ExtraLight.ttf");
  font-weight: 0;
}

@font-face {
  font-family: "Neuton";
  src: url("./fonts/Neuton-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Neuton";
  src: url("./fonts/Neuton-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Neuton";
  src: url("./fonts/Neuton-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Neuton";
  src: url("./fonts/Neuton-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Neuton";
  src: url("./fonts/Neuton-Italic.ttf");
  font-style: italic;
}