@import "./colors.scss";
@import "./fonts.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $sans;
  font-weight: 500;
  background: $background;
  z-index: 0
}

p {
  font-family: $serif;
}

.container {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}