@import "./colors.scss";
@import "./fonts.scss";
@import "./breakpoints.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $sans;
  font-weight: 500;
  background: $background;
  z-index: 0
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: $high-emphasys-text;
  display: block;
  width: 100%;
}

h1 {
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 15px;

  @include breakpoint-min(lg) {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 10px;

  @include breakpoint-min(lg) {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 14px;
  text-align: left;
}

p {
  font-size: 16px;
  font-family: $serif;
  color: $low-emphasys-text;
  margin-top: 0px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column {
  display: inline-block;
}
  
.desktop {
  @include breakpoint-max ($layout-breaking-point) {
    display: none;
  }
}

.mobile {
  @include breakpoint-min ($layout-breaking-point) {
    display: none;
  }
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;

  @include breakpoint-min (md) {
    padding: 0 container-padding(md);
  }

  @include breakpoint-min (lg) {
    padding: 0 container-padding(lg);
  }

  @include breakpoint-min (xl) {
    padding: 0 container-padding(xl);
  }

  @include breakpoint-min (xxl) {
    padding: 0 container-padding(xxl);
  }
}

@function negative ($number) {
  @return calc($number * -1);
}