@import "./colors.scss";
@import "./fonts.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $sans;
  font-weight: 500;
  background: $background;
  z-index: 0
}

P {
  font-family: $serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}