@import './../style/breakpoints.scss';

#publication {
  h2 {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .image {
    width: 100%;
    height: 300px;

    @include breakpoint-min (sm) {
      width: 80%;
      margin-left: 10%;
      height: 400px
    }

    @include breakpoint-min (md) {
      width: 60%;
      margin-left: 20%;
    }

    @include breakpoint-min (lg) {
      width: 50%;
      margin-left: 25%;
    }

    @include breakpoint-min (xl) {
      width: 40%;
      margin-left: 30%;
    }

    @include breakpoint-min (xxl) {
      width: 30%;
      margin-left: 35%;
    }
  }

  ul{
    padding-left: 30px;
    list-style: disc;
  }
}