@import './../style/colors.scss';
@import './../style/fonts.scss';
@import './../style/breakpoints.scss';

.button {
  padding: 0;
  background-color: $primary;
  color: $white;
  cursor: pointer;
  transition: .2s;
  border: 2px solid $primary;
  border-radius: 5px;

  .content {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    color: inherit;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Montserrat', 'sans-serif';
    min-width: 150px;
  }
  .icon {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    border-left: 1px solid $white;
    font-size: 16px;

    svg {
      vertical-align: middle;
      color: inherit;
    }
  }

  &:hover {
    background-color: transparent;
    color: $low-emphasys-text;

    .icon {
      border-color: $primary;
    }
  }
}