.frame {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    position: relative;

    &[h-align="center"] {
      left: 50%;
      transform: translateX(-50%);
    }

    &[v-align="center"] {
      top: 50%;
      transform: translateY(-50%);
    }

    &[h-align="center"][v-align="center"] {
      transform: translate(-50%, -50%);
    }
  }
}