@import './../colors.scss';

.navbar {
  width: 100%;
  height: 100px;
  position: relative;
  background: $white;
}

.brand {
  text-align: left

  img {
    width: 100%;
  }
  
  &[expanded="true"] {
    z-index: 3;
  }
}

.toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $primary;
  background-color: transparent;
  text-align: center;

  .line{
    height: 2px;
    width: 18px;
    margin: 3px auto;
    background-color: $primary;
  }

  &[expanded="true"] {
    background-color: $primary;
    z-index: 3;

    .line{
      background-color: $white;
    }
  }
}

.expanded-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background: $darker-white;
  z-index: -1;
  opacity: 0;

  &[expanded="true"] {
    z-index: 2;
    opacity: 1;
  }
}

.expanded-menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
}

.navigation {
  padding: 0;
  margin: 0 30px;
  list-style: none;
  width: 100%;

  .nav-item {
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid $low-emphasys-text;
  }
}