@import '@/style/breakpoints.scss';
@import '@/style/colors.scss';

#notification {
  background-color: $white;
  position: fixed;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: .4s;
  z-index: 5;
  box-shadow: 0 0 5px 0;
  width: 90%;

  &[data-open="true"] {
    bottom: 30px;
    transform: translate(-50%, 0);
  }

  @include breakpoint-min (xs) {
    width: 75%;
  }

  @include breakpoint-min (sm) {
    width: 60%;
  }

  @include breakpoint-min (md) {
    width: 50%;
  }

  @include breakpoint-min (lg) {
    width: 40%;
  }

  @include breakpoint-min (xl) {
    width: 30%;
  }

  .close {
    position: absolute;
    right: 5px;
    top: 0px;
    font-family: monospace;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
    color: $low-emphasys-text;
  }

  .notification-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;

    @include breakpoint-min (sm) {
      padding: 10px 25px;
    }

    .status {
      text-align: center;
      border: 3px solid;
      border-radius: 50%;
      color: $blue;
      border-color: $blue;
      margin-right: 20px;
      padding: 4px;
  
      &[data-status="success"] {
        color: $green;
        border-color: $green;
      }
    
      &[data-status="error"] {
        color: $red;
        border-color: $red;
      }
  
      .icon {
        font-size: 21px;
        vertical-align: middle;
        color: inherit;
      }
    }
  
    .message {
      font-size: 14px;
      color: $low-emphasys-text;
      vertical-align: middle;
    }
  }
}